
<table width=90%>
 <tr>
  <td><%= @template_file.title %></td>
    <td><%= @template_file.path %></td>
    </tr>
    <tr>
  <td><textarea>
  	<%= @template_file.content %>
  	</textarea>
  </td>
 </tr>
<tr>
<td><%= link_to 'Edit', [:edit, @template_file]   %></td>
<%= link_to 'Service Types', template_files_path %>
<%= link_to 'Remove', template_file_path(@template_file),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    </table>
                    
