<h1>Editing Installed Package</h1>

 
  <%= form_for :langauge , url:[   @langauge] ,method: :patch do |f| %> 

 <% if @langauge.errors.any? %>
        <div id="error_explanation">
    <h2><%= pluralize(@langauge.errors.count , "error") %> prohibited
      this Program from being saved:</h2>
        <ul>
    <% @langauge.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>
<p>
 
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', langauge_path  %>
