<h1>Listing Langagues</h1>

<table>
 <tr>
  <td>
   <th>Name</th>
   <th>Comment</th>
 </tr>
 <% @langauges.each do |langauge| %>
 <tr>
  <td><%= langauge.name %></td>
  <td><%= langauge.comment %></td>
  <td><%= link_to 'Edit', [:edit, langauge]   %></td>
   <td><%= link_to 'Remove', [  langauge],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    
 </tr>
 <% end %>
</table>

<%= link_to 'New Langauge', new_langauge_path %>
