<h1>Editing Installed Package</h1>

 
  <%= form_for :license , url:[   @license] ,method: :patch do |f| %> 

 <% if @license.errors.any? %>
        <div id="error_explanation">
    <h2><%= pluralize(@license.errors.count , "error") %> prohibited
      this Program from being saved:</h2>
        <ul>
    <% @license.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
<p>
    <%= f.label :sourceurl %><br>
    <%= f.text_field :sourceurl %>
  </p>
  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>
<p>
 
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', license_path  %>
