<%= render 'software_details_panel' %>
<div class="col-md-10 main-show-col-with-menu">

  <%  attributes = [ :name,
                     :version,
                     :memory,
                     [:http_protocol, "HTTP protocol"],
                     :framework_port_overide,
                     [:first_run_url, "First run URL"],
                     :web_root_directory,
                     :blocking_worker,
                     :readme ]
      if @blueprint_version.software_version.software.framework.continuos_deployment
        attributes << :continuos_deployment
      end
      if @blueprint_version.software_version.software.framework.database_seed_file
        attributes << {attribute: :database_seed_file, show_as: :code}
      end
      attributes += [ {attribute: :custom_start_script, show_as: :code},
                      {attribute: :custom_install_script, show_as: :code},
                      {attribute: :custom_post_install_script, show_as: :code},
                      {attribute: :installation_report_template, show_as: :code}]
       %>
  <%= render 'shared/show/default', record_object: @blueprint_version, fa: :'file-text', back_path: @blueprint_version.software_version, attributes: attributes %>
  <% if @blueprint_version.software_version.software.framework.service_configurations %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :service_configurations, attributes: [:service_definition, :variables], fa: :'caret-right' %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.persistent_directories %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :persistent_directories, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.replacement_strings %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :replacement_strings, fa: :'caret-right' %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.persistent_files %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :persistent_files, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.installed_packages %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :installed_packages, fa: :'caret-right', attributes: [ :name, [:source_url, 'Source URL'] ] %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.system_packages %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :system_packages, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.ports %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :ports, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.external_repositories %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :external_repositories, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.workers %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :workers, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.rake_tasks %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :rake_tasks, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.template_files %>
    <%= render 'shared/show/association_panels', record_object: @blueprint_version, association: :template_files, fa: :'caret-right',
    attributes: [:title, :path, [:content, "File contents", :code]], direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.file_write_permissions %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :file_write_permissions, fa: :'caret-right', direct_to_edit: true, default_actions: true %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.custom_php_inis %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :custom_php_inis, fa: :'caret-right' %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.apache_htaccess_files %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :apache_htaccess_files, fa: :'caret-right' %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.apache_httpd_configurations %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :apache_httpd_configurations, fa: :'caret-right', attributes: [[:httpd_configuration, 'httpd configuration']] %>
  <% end %>

  <% if @blueprint_version.software_version.software.framework.module_types.present? %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, label: "Modules", association: :blueprint_modules, fa: :'caret-right', attributes: [{attribute: :module_type}, [:os_package, "OS package"], :module_name], direct_to_edit: true, default_actions: true %>
  <% end %>

  <% if @blueprint_version.software_version.software.framework.variables %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :variables, fa: :'caret-right',attributes: [:to_label, :field_type, :value], new_item_path: url_for([:new, :variable, variable_consumer_id: @blueprint_version.id, variable_consumer_type: :BlueprintVersion]) %>
  <% end %>
  <% if @blueprint_version.software_version.software.framework.component_sources %>
    <%= render 'shared/show/association_table', record_object: @blueprint_version, association: :component_sources, fa: :'caret-right', attributes: [[:url, "URL"]], direct_to_edit: true %>
  <% end %>
</div>

<div class="col-md-2">
  <%= render 'show_nav' %>
</div>



