<%  items ||= []
    model_name ||= items.model_name.to_s.underscore
    new_item_path_parameters ||= [:new, model_name]
    back_path ||= root_path
    attributes ||= nil 
    page_title ||= model_name.humanize.pluralize
    show_back_button ||= true if show_back_button.nil?
    show_add_button ||= true if show_add_button.nil?
    fa ||= false
    as ||= :table %>

<div class="col-sm-12">
  <h2><% if fa %><%= content_tag(:i , nil, class: "fa fa-#{fa}") + ' ' %><% end %><%= page_title %></h2>

  <% if show_back_button %>
    <%= link_to content_tag(:i, "", class: "fa fa-arrow-left") + ' Back', back_path, class: "btn btn-warning btn-lg trigger-response-modal" %>
  <% end %>
  <% if show_add_button %>
    <%= link_to content_tag(:i, "", class: "fa fa-plus") + " Add", new_item_path_parameters, class: "btn btn-lg btn-primary trigger-response-modal" %>
  <% end %>

  <% if File.exists?(Rails.root.join("app", "views", model_name.pluralize, "_index_actions.html.erb")) %>
    <%= render "#{model_name.pluralize}/index_actions" %>
  <% end %>

</div>

<%= render partial: "shared/index/#{as}", locals: {items: items, attributes: attributes} %>

