<%  items ||= []
    nest_routes ||= false
    nest_in ||= nest_routes ? record_object : nil
    map_to ||= nil
    model_class = items.model
    model_name = model_class.model_name.to_s
    label ||= model_name.humanize
    new_item_path ||= [:new, model_name.underscore]
    attributes ||=  if model_class.method_defined?(:to_label)
                      [:to_label]
                    else
                      items.model.column_names.
                      map{ |attribute| attribute.sub(/_id\z/, '') }.
                      reject{ |attribute| ['id', 'created_at', 'updated_at'].include?(attribute) }.
                      reject{ |attribute| attribute == nest_in.to_s}
                    end

    actions_from_file = File.exists?(Rails.root.join("app", "views", model_name.pluralize.underscore, "_index_item_actions.html.erb"))
    default_actions ||= false
    direct_to_edit = direct_to_edit.nil? ? nil : direct_to_edit
%>

<div class="col-sm-12">

  <table class="table table-condensed top-gap">

    <% if items.empty? %>
      <tr>
        <td colspan="1000">
          <i>none</i>
        </td>
      </tr>
    <% else %>

      <% if attributes != [:to_label] %>
        <tr>
          <%  attributes.each do |attribute| 
                if attribute.kind_of?(Array) 
                  label = attribute[1].nil? ? attribute[0].to_s.humanize : attribute[1]
                  attribute = attribute[0]
                elsif attribute.kind_of?(Hash)
                  label = attribute[:label].nil? ? attribute[:attribute].to_s.humanize : attribute[:label]
                  attribute = attribute[:attribute]
                else 
                  label = attribute.to_s.humanize 
                end
          %>
            
            <th>
              <% if attribute.to_sym == :to_label %>
                &nbsp
              <% else %>
                <%= label if label.present? %>
              <% end %>
            </th>

          <% end %>

          <% if actions_from_file || default_actions %>
              <th class="association_table_actions"></th>
          <% end %>

        </tr>
      <% end %>

      <%  items.each do |item|

            url_for_item = url_for ( ( direct_to_edit ? [:edit] : [] ) + ( nest_routes ? [nest_in, item] : [item] ) )

            if map_to
              item = item.send(map_to)
            end 
       %>

            <tr id="<%= ((nest_in.to_s + '_') if nest_in.present?).to_s + item.class.name.underscore + '_' + item.id.to_s %>" class='clickable-table-row' href='<%= url_for_item %>'>
              <% attributes.each do |attribute| 

                if attribute.kind_of?(Array) 
                  show_as = attribute[2] || :default
                  attribute = attribute[0]
                elsif attribute.kind_of?(Hash)
                  show_as = attribute[:show_as] || :default     
                  attribute = attribute[:attribute]
                else 
                  show_as = :default
                end

              %>

                <td>
                  <% value = SharedViews.resolve_value_for item, attribute #, label_method: :to_label %>
                  <% if show_as == :default %>
                    <%= SharedViews.value_as_html value %>
                  <% elsif show_as == :code %>
                    <pre><%= value %></pre>
                  <% end %>
                </td>
              <% end %>
              <% if actions_from_file || default_actions %>
                <td class="association_table_actions">
                  <%= (render "#{model_name.pluralize.underscore}/index_item_actions", item: item) if actions_from_file %>
                  <%#= link_to content_tag(:i , nil, class: 'fa fa-edit'), [:edit, item], class: 'btn btn-lg' %>
                  <%= (link_to content_tag(:i , nil, class: 'fa fa-trash'), item, method: :delete, data: { confirm: 'Are you sure that you want to destroy this ' + label + '?' , title: 'Delete' }, class: 'btn btn-lg') if default_actions %>
                </td>
              <% end %>

            </tr>

      <%  end %>
    <%  end %>

  </table>
</div>


