<h1>Admin Control</h1>

<%= link_to 'Software Packages' , controller: 'softwares' %>
<br>
<h2>Admin Functions</h2>
<p>
<strong>	Parrameter setup tables</strong><br>


<%= link_to 'Langauges', controller: 'langauges'%><br>
<%= link_to 'Frameworks', controller: 'swframeworks' %><br>
<%= link_to 'License' , controller: 'licenses' %><br>
<%= link_to 'Deployment Types', controller: 'softwaredeploytypes'  %><br>
<%= link_to 'Services', controller: 'servicetypes'  %><br>
</p>
