<h1>Editing Software</h1>

 
  <%= form_for :software_service , url:[  @software_service.software, @software_service] ,method: :patch do |f| %> 

 <% if @software_service.errors.any? %>
        <div id="error_explanation">
    <h2><%= pluralize(@software_service.errors.count , "error") %> prohibited
      this Program from being saved:</h2>
        <ul>
    <% @software_service.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
   <p>
   	Service:
   	<%= Service.find(@software_service.service_id).record_label %>
   </p>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<% @soft=Software.find(params[:software_id]) %>
<%= link_to 'Back', [:editDetails , @soft ] %>
