
<%= form_for( @software.published_software) do |f| %> 
<p> 
 <%= f.label :short_name %>
 <%= f.text_field :short_name, value: @software.name %>
</p>

  <p>
    <%= f.label :full_name %><br>
    <%= f.text_field :full_name, value: @software.name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description,  value: @software.description %>
  </p>
<p>
    <%= f.label :home_page %><br>
    <%= f.text_field :home_page %>
  </p>
  </p>
<p>
    <%= f.label :image_url, value: @software.icon_url%><br>
    <%= f.text_field :image_url %>
  </p>
  
<p><p>
    <%= f.label :repository %><br>
    <%= f.text_field :repository, value: @gitpath %>
  </p>
<%= f.submit %>
</p>
<% end %>

 