
<table width=90%>
 <tr>
 <td><%= @published_software.short_name %></td>
   <td>
   	</tr>
   	<tr>
   	<%= @published_software.full_name %>
   </td>
   	</tr>
   	<tr>
   <td>
   	<%= @published_software.description %>
   </td> 
   	</tr>
   	<tr>
  <td><%= @published_software.image_url %></td>
   	</tr>
   	<tr>
  <td><%=@published_software.home_page %></td>
   	</tr>
   	<tr>
  
  <td><%=@published_software.repository %></td>
   	</tr>
   	<tr>
  
  
    <td><%= link_to 'Edit', [:edit, @published_software]   %></td>
   <td><%= link_to 'Remove', [  @published_software],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                    </table>
                    
