<%= link_to 'Back', software_path %>
<p>
	<% @software = Software.find(params[:id])%>
<strong>Name:</strong>
<%= @software.name %>
</p>
<p>Owner</p>
<p><strong>License</strong> <%= License.find(@software.license_id).name %></p>
<p>Version</p>
<p>status Deployed? </p>
<p>Groups private,shared,forsale,public etc</p>
<p>
<strong>Description:</strong>
<%= @software.description %>
</p>
<p><strong>Langauge:</strong>
<%= Langauge.find(@software.langauge_id).name %>
<strong>Framework</strong>
<%= Swframework.find(@software.swframework_id).name %>

<p>
<strong>Style</strong>               
<%= Softwaredeploytype.find(@software.softwaredeploytype_id).name %>

</p>
<p>
<strong>Memory:</strong>
<%= @software.requiredmemory %>
</p>
<h3>Services</h3>

 
<table>
	<th>Service Type</th>
	<th>Name</th>
	<th>Destination</th>
	<th>Comment</th>
	
	 <% @software.softwareservices.each  do |softwareservice| %>
<tr>
	 	<td><%= Servicetype.find(softwareservice.servicetype_id).name %></td>
	 	<td><%=  softwareservice.name %></td>
	 	<td><%=  softwareservice.dest %></td>
	 	<td><%=  softwareservice.comment %></td>
	 	<td><%= link_to 'Edit', [:edit, softwareservice.software, softwareservice]   %></td>
	  <td><%= link_to 'Remove', [ softwareservice.software, softwareservice],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	 <% end %>
	 
	
<%= form_for([@software, @software.softwareservices.build]) do |f| %>
	<tr>
	<td>
    <%= f.select :servicetype_id,   Servicetype.all.collect {|st| [ st.name, st.id ] } %>
    </td>
     <td>
    <%= f.text_field :name %>
 </td>
   <td>
    <%= f.text_field :dest %> local for mysql /home/app/ for web accessible /home/ for non web
 </td>
 <td>
    <%= f.text_field :comment %>
 </td>
 	
    <td>
    <%= f.submit %>
  </td>
</tr>
<%= f.hidden_field :software_id, :value => @software.id  %>
<% end %>
</table>


<h2> Persistant Dirs</h2>

<table>
<th><strong>Directory:</strong></th>
<th><strong>Comment:</strong></th>
<% @software.persistantdirs.each do |persistantdir| %>
<tr>
  <td> 
    <%= persistantdir.path%>
  </td>
 
  <td>
    <%= persistantdir.comment %>
  </td>
  <td><%= link_to 'Edit', [:edit, persistantdir.software, persistantdir]   %></td>
  <td><%= link_to 'Remove', [ persistantdir.software, persistantdir],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
</tr>
<% end %>
<%= form_for([@software, @software.persistantdirs.build]) do |f| %>
<tr>
 <td>
    <%= f.text_field :path %>
 </td>
 <td>
    <%= f.text_field :comment %>
 </td>
</tr>
<tr>
 <td>
    <%= f.submit %>
  </td>
</tr>
<% end %>
</table>

<hr>
<p>
<h2> Persistant Files</h2>
<table>
<th><strong>File:</strong></th>
<th><strong>Comment:</strong></th>

<% @software.persistantfiles.each do |persistantfile| %>
<tr>
  <td>
    <%= persistantfile.path%>
 </td>

  <td>
    <%= persistantfile.comment %>
 </td>
 
 <td>
 <%= link_to 'Edit', [:edit, persistantfile.software, persistantfile]   %></td>

 <td><%= link_to 'Remove', [ persistantfile.software, persistantfile],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>

<%= form_for([@software, @software.persistantfiles.build]) do |f| %>
<tr>
 <td>
    <%= f.text_field :path %>
 </td>
 <td>
    <%= f.text_field :comment %>
 <td>
</tr>
<tr>
 <td>
    <%= f.submit %>
 </td>
</tr>
<% end %>
</table>
<p>
<h2>Configured File</h2>
<%= form_for :software, url: software_path(@software) ,method: :patch do |f| %>

    <%= f.text_field :configuredfile %>
 <br>
  	<strong>Install File</strong><br>
  
    <%= f.text_field :toconfigurefile %><br>
     <%= f.submit %>
  </p>
  <% end %>
<h2>Replacement Strings</h2>
<table>
<th><strong>Replacement String:</strong></th>
<th><strong>File:</strong></th>
<th><strong>Comment:</strong></th>

<% @software.replacementstrings.each do |replacementstring| %>
<tr>
  <td>
    <%= replacementstring.sedstr %>
 </td>

  <td>
    <%= replacementstring.file %>
 </td>
  <td>
    <%= replacementstring.dest %>
 </td>
  <td>
    <%= replacementstring.comment %>
 </td>
 <td>
	<%= link_to 'Edit', [:edit, replacementstring.software, replacementstring]   %></td>
</tr><td><%= link_to 'Remove', [ replacementstring.software, replacementstring],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

<%= form_for([@software, @software.replacementstrings.build]) do |f| %>
<tr>
 <td>
    <%= f.text_field :sedstr %>
 </td>
  <td>
    <%= f.text_field :file %>
 </td>
<td>
    <%= f.text_field :dest %>
 </td>
 <td>
    <%= f.text_field :comment %>
 <td>
</tr>
<tr>
 <td>
    <%= f.submit %>
 </td>
</tr>
<% end %>
</table>

<hr>
<h2>Packages</h2>
<table>
<th><strong>Package:</strong></th>
<th><strong>Source URI:</strong></th>
<th><strong>Destination:</strong></th>
<th><strong>Extract Cmd:</strong></th>
<th><strong>Comment:</strong></th>

<% @software.installedpackages.each do |installedpackage| %>
<tr>
  <td>
    <%= installedpackage.name %>
 </td>
 <td>
    <%= installedpackage.src %>
 </td>
 <td>
    <%= installedpackage.dest %>
 </td>
 <td>
    <%= installedpackage.extractcmd %>
 </td>
<td>
    <%= installedpackage.extractdir %>
 </td>
  <td>
    <%= installedpackage.comment %>
 </td>
 <td>
	<%= link_to 'Edit', [:edit, installedpackage.software, installedpackage]   %></td>
 <td><%= link_to 'Remove', [ installedpackage.software, installedpackage],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>

<%= form_for([@software, @software.installedpackages.build]) do |f| %>
<tr>
  <td>
    <%= f.text_field :name %>
 </td>
  <td>
    <%= f.text_field :src %>
 </td>
  <td>
    <%= f.text_field :dest %>
 </td>
  <td>
    <%= f.text_field :extractcmd %>
 </td>
<td>
    <%= f.text_field :extractdir %>
 </td>
 <td>
    <%= f.text_field :comment %>
 </td>
</tr>
<tr>
 <td>
    <%= f.submit %>
 </td>
</tr>
<% end %>
</table>

<hr>

<h2>OS Packages</h2>
<table>
<th><strong>Package:</strong></th>
<th><strong>Comment:</strong></th>

<% @software.ospackages.each do |ospackage| %>
<tr>
  <td>
    <%= ospackage.name %>
 </td>
  <td>
    <%= ospackage.comment %>
 </td>
<td>
	<%= link_to 'Edit', [:edit, ospackage.software, ospackage]   %></td>
	<td><%= link_to 'Remove', [ ospackage.software, ospackage],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>

<%= form_for([@software, @software.ospackages.build]) do |f| %>
<tr>
  <td>
    <%= f.text_field :name %>
 </td>

 <td>
    <%= f.text_field :comment %>
 </td>
</tr>
<tr>
 <td>
    <%= f.submit %>
 </td>
</tr>
<% end %>
</table>
<h2>CronJobs</h2>
<table>
<th><strong>Cronjob</strong></th>
<th><strong>Description</strong></th>

<% @software.cron_jobs.each  do |cronjob| %>
<tr>
  <td>
    <%= cronjob.cronjob %>
 </td>
  <td>
    <%= cronjob.description %>
 </td>
 <td>
	<%= link_to 'Edit', [:edit, cronjob.software, cronjob]   %></td>
	<td><%= link_to 'Remove', [ cronjob.software, cronjob],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>


<%= form_for([@software, @software.cron_jobs.build]) do |f| %>
<tr>
  <td>
    <%= f.text_field :cronjob %>
 </td>

 <td>
    <%= f.text_field :description %>
 </td>
</tr>
<tr>
 <td>
    <%= f.submit %>
 </td>
</tr>
<% end %>
</table>
<h2>Workers</h2>
<p><strong>Ports</strong></p>
<table>
	<tr>
<th>Port </th>
<th>External</th>
<th>Name</th>
<th>comment</th>
</tr>
<% @software.work_ports.each  do |port| %>
<tr>
  <td>
    p <%= port.port %>
 </td>
 <td>
    e <%= port.external %>
 </td>
  <td>
    n <%= port.name %>
 </td>
 <td>
    c <%= port.comment %>
 </td>
 <td>
	<%= link_to 'Edit', [:edit, port.software, port]   %></td>
	<td><%= link_to 'Remove', [ port.software, port],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>


<%= form_for([@software, @software.work_ports.build]) do |f| %>
	
	<tr>
  <td>
    <%= f.text_field :port %>
 </td>
<td>
    <%= f.text_field :external %>
 </td>
 <td>
    <%= f.text_field :name %>
 </td>
 	<td>
    <%= f.text_field :comment %>
 </td>
 	
</tr>
<tr>
 <td>
    <%= f.submit %>
 </td>
</tr>
<% end %>
</table>
<p><strong>Commands</strong></p>
<table>
	
<th>Name</th>
<th>Command</th>
<th>comment</th>

<% @software.worker_commands.each  do |worker| %>
<tr>
  <td>
    <%= worker.name %>
 </td>
  <td>
    <%= worker.command %>
 </td>
 <td>
    <%= worker.comment %>
 </td>
 <td>
	<%= link_to 'Edit', [:edit, worker.software, worker]   %></td>
	<td><%= link_to 'Remove', [ worker.software, worker],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
<%= form_for([@software, @software.worker_commands.build]) do |f| %>
	
	<tr>
  <td>
    <%= f.text_field :name %>
 </td>

 <td>
    <%= f.text_field :command %>
 </td>
 	<td>
    <%= f.text_field :comment %>
 </td>
 	
</tr>
<tr>
 <td>
    <%= f.submit %>
 <td>
</tr>
<% end %>
</table>


<p><strong>Blocking Command</strong></p>
<table>
	<tr>
<td><th>Name </th></td>
<td><th>Command</th></td>
<td><th>comment</th></td>
</tr>
<% @software.blocking_worker  do |worker| %>
<tr>
  <td>
    <%= worker.name %>
 </td>
  <td>
    <%= worker.command %>
 </td>
 <td>
    <%= worker.comment %>
 </td>
 <td>
	<%= link_to 'Edit', [:edit, blocking_worker.software, worker]   %></td>
	<td><%= link_to 'Remove', [ blocking_worker.software, worker],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>
<br>
IF Rails
<p>
	<strong>Rake tasks</strong>
<table>
	<% @software.rake_tasks.each  do |rake| %>
<tr>
  <td>
    <%= rake.name %>
 </td>
  <td>
    <%= rake.action %>
 </td>
 
 <td>
	<%= link_to 'Edit', [:edit, rake.software, rake]   %></td>
	<td><%= link_to 'Remove', [ rake.software, rake],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>

<%= form_for([@software, @software.rake_tasks.build]) do |f| %>
	
	<tr>
  <td>
    <%= f.text_field :name %>
 </td>

 <td>
    <%= f.text_field :action %>
 </td>
	
</tr>
<tr>
 <td>
    <%= f.submit %>
 <td>
</tr>
<% end %>
</table>

</table>
</p>
<p><strong>Environment Variables</strong></p>
<table>
	
<th>Name</th>
<th>Value</th>
<th>Comment</th>

<% @software.environment_variables.each  do |variable| %>
<tr>
  <td>
    <%= variable.name %>
 </td>
  <td>
    <%= variable.value %>
 </td>
   <td>
    <%= variable.ask_at_runtime %>
 </td>
 <td>
    <%= variable.comment %>
 </td>
 <td>
	<%= link_to 'Edit', [:edit, variable.software, variable]   %></td>
	<td><%= link_to 'Remove', [ variable.software, variable],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
<%= form_for([@software, @software.environment_variables.build]) do |f| %>
	
	<tr>
  <td>
    <%= f.text_field :name %>
 </td>

 <td>
    <%= f.text_field :value %>
 </td>
 <td>
    <%= f.check_box :ask_at_runtime %>
 </td>
 	<td>
    <%= f.text_field :comment %>
 </td>
 	
</tr>
<tr>
 <td>
    <%= f.submit %>
 <td>
</tr>
<% end %>
</table>
p><strong>Template Files </strong></p>
<table>
	<tr>
<td><th>Name </th></td>
<td><th>Value</th></td>
<td><th>comment</th></td>
</tr>
<% @software.template_files.each  do |template| %>
<tr>
  <td>
    <%= template.title %>
 </td>
  <td>
    <%= template.path %>
 </td>
  <td>
   <%= link_to 'Show',  template_file_path(template)  %>
   |
   <%= link_to 'Edit',  template_file_path(template)  %>
   |
   <%= link_to 'Delete',  template_file_path(template)  %>
 </td>
</tr>
<% end %>
<tr>
	<td>
		<%= link_to 'Add',  template_file_path(template)  %>
	</td>

</table>

<hr>






 <%= link_to 'Back', software_path %>
