<h1>Listing softwares</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
 
  <% @softwares.each do |software| %>
    <tr>
      <td><%= software.name %></td>
      <td><%= software.description %></td>
	<td><%= link_to 'Show', software_path(software) %></td>

	<td><%= link_to 'Modify', edit_software_path(software) %></td>
	<td><%= link_to 'Destroy', software_path(software),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
   </tr> 
  <% end %>
</table>
<p>
<%= link_to 'New Software', new_software_path %>

