<%  label ||= name.to_s.humanize.capitalize
    tooltip ||= nil
    value = value.nil? ? f.object.send(name) : value
    value = nil if value.blank? #placeholder is visible to user only when value is nil
    hint ||= nil
    placeholder ||= nil
    comment ||= nil
    errors ||= f.object.errors[name]
    errors_class = "field_with_errors" if errors.present?
    offset ||= 2
    width ||= 8
    buffer ||= 2 %>

<div class="<%= errors_class %> col-sm-offset-<%= offset %> col-sm-<%= width %>">
  <div class="form-group">
    <%= f.label name, class: 'control-label' do %>
      <%= label %>
    <% end %>
    <%= comment %>
<% if f.object.defined_enums.has_key?(name.to_s) %>
  <% enum_values = f.object.defined_enums[name.to_s].keys %>
  <% if enum_values.count > 5 %>
    <%= f.select name, enum_values, {selected: value, include_blank: false}, {title: tooltip, placeholder: placeholder, class: 'form-control input-lg'} %>
  <% else %>
    <br>
    <%= f.collection_radio_buttons name, enum_values, :to_s, :to_s, {checked: value}, {title: tooltip} do |radio|
           radio.label(class: "form-text-lg", :"data-value" => radio.value) { radio.radio_button + ' ' + radio.text } + '<br>'.html_safe
         end %>
  <% end %>

<% else %>
    <%= f.number_field name, value: value, title: tooltip, placeholder: placeholder, class: 'form-control input-lg' %>
<% end %>

    <% if errors.present? %>
      <div class='form-field-errors'>
        <% errors.each do |error| %>
          <%if error.class == Array %>
            <%= error[1] %>
          <% else %>
            <%= error %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if hint.present? %>
      <div class='form-field-hint'>
        <%= hint %>
      </div>
    <% end %>
  </div>
</div>

<% if buffer > 0 %>
  <div class="col-sm-<%= buffer %> grid-buffer-col">
    &nbsp;
  </div>
<% end %>
