<h1>Editing Software</h1>

 form_for :persistantdir ,method: :patch do |f| 
url:[  persistantdir.software, persistantdir],
  <%= form_for :persistantdir , url:[  @persistantdir.software, @persistantdir] ,method: :patch do |f| %> 

 <% if @persistantdir.errors.any? %>
        <div id="error_explanation">
    <h2><%= pluralize(@persistantdir.errors.count , "error") %> prohibited
      this Program from being saved:</h2>
        <ul>
    <% @persistantdir.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :path %><br>
    <%= f.text_field :path %>
  </p>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
<% @soft=Software.find(params[:software_id]) %>
<%= link_to 'Back', [:editDetails , @soft ] %>
