<h1>Listing Software Deploy Types</h1>

<table>
 <tr>
  <td>
   <th>Name</th>
   <th>Comment</th>
 </tr>
 <% @softwaredeploytypes.each do |sdt| %>
 <tr>
  <td><%= sdt.name %></td>
  <td><%= sdt.comment %></td>
   <td><%= link_to 'Show', softwaredeploytype_path(sdt) %></td>
    <td><%= link_to 'Edit', [:edit, sdt]   %></td>
   <td><%= link_to 'Remove', [  sdt],
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
 </tr>
 <% end %>
</table>

<%= link_to 'New Software Deploy Type', new_softwaredeploytype_path %>
